.post{
    padding : 16px 4px;
    border-bottom: 3px solid #000;
}

.post__title{
    text-align: center;
}

.post__decs{
    margin-top : 8px;
    display: flex;
    justify-content: space-between;
}

.post__body{
    margin-top: 8px;
}


.post__comment{
    margin-top: 24px;
}

.search{
    width: 50%;
}